.body{
  align-content: center;
}

/*Line between 'About Me' and 'Portfolio' section*/
.resume_separator{ 
  margin-top: 30px;
}

/*Line between 'Animations' and 'My Designs'*/
.separator{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.resume_btn{
  background:black;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.resume_btn:hover{
  background:#fff;
  color:black;
}

.resume_btn:before,.resume_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: black;
  transition:400ms ease all;
}

.resume_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.resume_btn:hover:before,.resume_btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.resume_btn:focus{
  outline: 0;
}

/*Portfolio section*/

/*Subtitle of portfolio image, ex. 'Astronaut + Egg'*/
.sub-title { 
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
  text-align: left;
}

/*Font of portfolio images on hover*/
.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: initial;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .portfolio-container {
  padding-right: 0;
  padding-left: 0;
}

/*Sizing animations*/
.animation {
  display: block;
  height: auto;
  width: 100%;
}

/*Each SpineAlign image*/
.image {
  display: block;
  height: auto;
  width: 100%;
}

.overlay {
  background-color: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: .5s ease;
  top: 0;
  width: 100%;
}

.cell-container{
  padding: 15px;
}

.cell-container:hover .overlay {
  padding: 0px;
  opacity: .75;
}

.text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*Adjusts font on homepage.*/
#parent{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.homepage{
  display: inline-block;
}

/* First image */
.background_image_1{
  display: flex;
  justify-content: center !important;
  background-image: url('../img/background-copy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.80;
  min-height: 400px;
  align-content: center !important;
  position: relative;
}

/*Black button with my name*/
.name_btn{
  color: white;
  background: black;
  text-align: center !important;
  padding: 12px 24px !important;
  font-size: 24px !important;
  letter-spacing: 4px;
  display:inline-block;
  width:auto;

}

/*Animate and format the black button with name*/
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

.name_btn:hover{
  color:#fff!important;
  background-color:#000 !important;
}

/*Formats name_btn.*/
.middle_formatting{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.hide_small{
  display:none!important
}

/*About section*/
.about{
  padding: 30px;
}

.row{
  margin-bottom: 40px;
  text-align: center;
}
/*See more of my animations here!*/
.see_more{
  font-size: 16px;
  color: #616466;
}

.see_more:hover{
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

/*See more icons*/
.fa-medium{
  color: black;
  font-size: 20px;
}
.fa-facebook-square{
  color: #3b5998;
  font-size: 20px;
}

/* Image with me behind tree*/
.background_image_2{
  background-image: url("../img/tree.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.80;
  min-height: 400px;
  margin-top: 40px;
}

.keep_in_touch{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}

.intro{
  margin-left: 80px;
  margin-right: 80px;
}

/*My Animations header*/
h3{
  /*padding-top: 20px;*/
  font-size: 20px;
  margin-bottom: 20px;
}

/*Bacteria diagram styling*/
.bacteria{
  width: 60%;
}

/*Social Media Icons*/
.btn{
  font-size: 30px;
  padding: 0px;
  margin-right: 15px;
}

/*Remove blue border during onclick*/
.btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none;
}

.fa-facebook{
  color: #3b5998;
  outline: none;
}

.fa-github{
  color: black;
}

.fa-linkedin{
  color: #0077B5;
}

.fa-instagram{
  color: #C13584;
}
